.wrapper {
  max-width: 70rem; /*equivalente a 70 x 16px = 1120px*/
  margin: 2rem auto;
  padding: 0 1rem; /*quando a tela diminui a, o conteudo não ficará colado*/

  display: grid;
  grid-template-columns: 256px 1fr; /* 1º coluna permanece com tamanho fixo; A 2º permanece com um tamanho flexivel*/
  gap: 2rem; /*Espaçamento entre as duas colunas de 16px*/
  align-items: flex-start; /*Permanece */
}
